<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/styleSubscriptions.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Patrick Hand"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <%- include ../views/menu %>

    <div class = general-box>
    <h1>Members</h1>


    <h2>Edit Member: <%=member.name%></h2><br />

    <form action="/subscriptions/updmember/<%=member._id%>" method="post"  >

    <label for = "manme" >name</label>
    <input type="text" id = "manme" name = "memname" value="<%=member.name%>" ><br /> <br />

    <label for = "memail" >email</label>
    <input type="text" id = "memail" name = "mememail" value="<%=member.email%>" ><br /><br />

    <label for = "mcity" >city</label>
    <input type="text" id = "mcity" name = "memcity" value="<%=member.city%>" ><br /><br />

    <input type="submit" value = "update" name = "update" >
    <input type="submit" value = "cancel"  name = "cancel" >

  </form>

  


   

  </div>
  </body>
<script>




</script>

</html>
